@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}
section {
  width: 100%;
  min-height: 100vh;
  padding: 7em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 4em;
  display: flex;
  border-bottom: 1px solid;
  justify-content: space-between;
  background-color: white;
  z-index: 1;
}
header .colorBtn {
  position: relative;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  background: none;
  padding: 0 0.5em;
  border-radius: 5px;
}
header .colorBtn:hover {
  opacity: 0.5;
}

header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  display: inline-block;
  color: black;
  font-size: 1em;
  font-weight: bold;
  margin-left: 2em;
}
header ul li a:hover {
  opacity: 0.5;
}
main {
  /* section에 패딩떄문 */
  width: 100%;
  padding: 1em;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.home {
  width: 100%;
  padding: 5em 16em;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.home .textbox {
  position: relative;
  max-width: 700px;
}
.home .textbox h2 {
  font-size: 5em;
  line-height: 1.4em;
  font-weight: bold;
}
.home .textbox .logo {
  font-size: 7em;
}
.home .textbox a {
  display: inline-block;
  left: 1px;
  margin-top: 2em;
  padding: 0.5em 1em;
  background-color: white;
  color: black;
  border-radius: 40px;
  border: 2px solid;
  font-weight: bold;
  text-decoration: none;
}
.home .textbox a:hover {
  opacity: 0.5;
}

.skills {
  padding: 5em;
  text-align: center;
}
.skills h1 {
  font-size: 2em;
  padding: 1em;
  font-weight: lighter;
}
.currentSkill h3 {
  padding: 1em 0;
}

.skillBar {
  background: rgba(255, 255, 255, 0.1);
  text-align: left;
  width: 50%;
  border-radius: 15px;
  padding: 2em 3em;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.skillBar .bar {
  margin: 1.5em 0;
}
.skillBar .bar:first-child {
  margin-top: 0px;
}
.skillBar .bar .info span {
  font-size: 1em;
  font-weight: 500;
}
.skillBar .bar .progress {
  position: relative;
  height: 1em;
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 15px;
  transform: scaleX(0);
  transform-origin: left;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
    0px 1px rgba(255, 255, 255, 0.5);
  animation: animate 0.6s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress span {
  height: 100%;
  width: 80%;
  background: linear-gradient(45deg, darkgray, lightgray);
  position: absolute;
  border-radius: 15px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 2s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress span::before {
  position: absolute;
  content: "";
  right: 0;
  top: -10px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: black;
}
.bar .progress span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: white;
  font-size: 0.8em;
  font-weight: 500;
  background: black;
  padding: 1px 8px;
  border-radius: 5px;
}
/* js로 바꾸기  */
.bar .progress.html span {
  width: 70%;
}
.bar .progress.css span {
  width: 70%;
}
.bar .progress.js span {
  width: 60%;
}
.bar .progress.react span {
  width: 40%;
}
.bar .progress.html span::after {
  content: "70%";
}
.bar .progress.css span::after {
  content: "70%";
}
.bar .progress.js span::after {
  content: "60%";
}
.bar .progress.react span::after {
  content: "40%";
}

.intrest {
  text-align: center;
  margin-top: 5em;
}
.container {
  padding: 3em;
  display: flex;
}
.container .sub {
  padding: 0.5em 1em;
  width: 15%;
  margin: auto;
  font-weight: bold;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.about {
  width: 100%;
  padding: 3em;
  text-align: center;
}
.about h1 {
  font-size: 2em;
  font-weight: lighter;
}
.cardContainer {
  padding: 3em;
  display: flex;
  flex-direction: column;
}
.cards {
  width: 100%;
  /* margin: auto; */
  transition: 0.5s;
  display: flex;
  background-color: red;
}
.card {
  background-color: rebeccapurple;
  width: 30em;
  height: 20em;
  padding: 3em;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  display: none;
}
.left-arrow,
.right-arrow {
  background-color: blue;
  height: 2em;
  margin: auto;
  text-align: center;
  font-size: 2em;
  padding: 0.5em;
  cursor: pointer;
}
.left-arrow:hover,
.right-arrow:hover {
  opacity: 0.8;
}
.card h3 {
  padding: 1em 0;
}
.card.active {
  display: block;
}

.contact {
  text-align: center;
}
.contact h1 {
  font-size: 2em;
  padding: 1em;
  font-weight: lighter;
}
.thumbsUp {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  width: 30em;
  padding: 3em;
  margin: auto;
  border-radius: 50%;
}

.thumbsUp h3 {
  margin: 1em 0;
}
.goodBtn {
  margin: 1em 0;
  background: none;
  border: none;
  border-bottom: 2px solid white;
  padding: 0 0.5em;
  font-size: 1.5em;
}
.goodBtn:hover {
  opacity: 0.5;
  border-bottom: 2px solid;
}
.social {
  padding: 5em;
  display: none;
}
.social .socialIcon {
  padding: 0.5em 1em;
  width: 15%;
  margin: auto;
}
.social .socialIcon a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.comment p {
  margin: 3em 0;
}
.screen {
  display: none;
}

@media all and (max-width: 1025px) {
  section {
    display: none;
  }
  .screen {
    display: inline;
    font-size: 3em;
    padding: 5.5em;
  }
}
